{% extends "base.html" %}
{% block linkcss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/acceuil.css')}}">
{% endblock %}
{% block header %}
    {% include "partials/_header.html" %}
{% endblock %}
{% block main %}
    <div class="haut">
        <div class="inscription">
            <img src="../static/images/epeeGris.png" alt="Épée grise d'escrime">
            <p>S’INSCRIRE A UNE COMPETITION</p>
        </div>
        <div class="connection">
            <img src="../static/images/epeeGris.png" alt="Épée grise d'escrime">
            <p>SE CONNECTER A UNE COMPETITION</p>
        </div>
        <div class="creer">
            <img src="../static/images/epeeGris.png" alt="Épée grise d'escrime">
            <p>CREER ET GERER DES COMPETITIONS</p>
        </div>
    </div>
    <div class="bas">
        <div class="consultation">
            <img src="../static/images/epeeGris.png" alt="Épée grise d'escrime">
            <p>CONSULTER DES RESULTATS DE COMPETITIONS</p>
        </div>
    </div>
    <p class="info">En savoir plus sur l’escrime ? Voici <a href="/information">un petit lien</a> pour vous aider</p>
{% endblock %}

