{% extends "base.html" %}

{% block linkcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/accueil.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Average" rel="stylesheet">
{% endblock %}

{% block header %}
{% include "partials/_header3.html" %}
{% endblock %}

{% block main %}
<main> 
    <div>  
         
        <a href="/resultats" class="resultats"> 
            <div >
                <img src="{{url_for('static', filename='images/escrimeur1.png')}}" alt="Image d'escrimeur">
                <div class="resultats_p">    
                    <p>Vous participez à la compétition “INSERT NAME”,</p>
                    <p>Vous voulez consulter les arbres de matchs ?</p>
                    <p>Voir votre prochain duel ?</p> 
                    <p class="resultats_p4">Pour suivre cette évolution,</p>
                    <p>Laissez vous guider vers l’espace prévu à cet effet.</p>
                </div>
            </div>
        </a>

        <a href="/classement_national" class="classement">
            <div >
                <div class="classement_p">    
                    <p>Le niveau national d’escrime vous intéresse ?</p>
                    <p>Vous voulez consulter le classement de tout les licenciés français ?</p> 
                    <p class="classement_p3">Une page de notre site est entièrement dédiée à cela,</p> 
                    <p>N’hésitez plus à la consulter.</p>
                </div>
                <img src="{{url_for('static', filename='images/escrimeur2.png')}}" alt="Image d'escrimeur">
            </div>
        </a>

        <a href="/archives" class="archives">
            <div >  
                <img src="{{url_for('static', filename='images/escrimeur3.png')}}" alt="Image d'escrimeur">
                <div class="archives_p">
                    <p>Vous avez participé à N compétition,</p>
                    <p>Votre classement vous intèresse ?</p>
                    <p>Vous souhaitez revoir les résultats des matchs ?</p>
                    <p>Consulter des compétitions autre que celles auxquelles vous avez participé ?</p>
                    <p class="archives_p5">Dans ce cas, il vous suffit de vous laisser porter vers la page dédiée à cela.</p>
                </div>
            </div>
        </a>

        <a href="/profil" class="profil">
            <div >
                <div class="profil_p">   
                    <p>Votre licence FFE renseigné nous permet de récupérer vos informations</p> 
                    <p>personnelles et vos classements,</p>
                    <p class="profil_p3">Pour les consulter rien de plus simple,</p>
                    <p>Rendez-vous sur votre page de profil.</p>
                </div>
                <img src="{{url_for('static', filename='images/escrimeur4.png')}}" alt="Image d'escrimeur">
            </div>
        </a>
    </div>
</main>
<footer>
    <p>Contact Escrime France :</p>
    <p class="footer_p2">Site web : <a href="https://www.ffescrime.fr">https://www.ffescrime.fr</a></p>
    <p>Mail : mail.escrime@gmail.com</p>
    <p>Tel : 06 38 86 19 66</p>
</footer>
{% endblock %}
