{% extends "base.html" %}

{% block linkcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/archives.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/select.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Average" rel="stylesheet">
{% endblock %}

{% block header %}
{% include "partials/_header3.html" %}
{% endblock %}

{% block main %}
<main> 
    <div class="principal">   
        
        <div class="titre">
            <h3>Archives :</h3>
            <img class="epee" src="{{url_for('static', filename='images/epeeBleu.png')}}" alt="Epée bleu d'escrime">
        </div>
        <div class="t">
            <div class="texte">
                <p>Vous pouvez consulter ici les archives des compétitions déjà terminées.</p>
            </div>
            <div class="texteimg">    
                <p>Celles auxquelles vous avez participé vous serez indiqué par </p>
                <img class="vousavezparticipe" src="{{url_for('static', filename='images/vousavezparticipe.png')}}" alt="Vous avez participé">
            </div>
        </div>
        <form class="selector" action="{{url_for('rechercheArchives')}}", method="GET">
            <select name="Arme">
                <option value="none" selected disabled hidden>Choississez une arme</option>
                <option value="fleuret">Fleuret</option>
                <option value="epee">Épée</option>
                <option value="sabre">Sabre</option>
            </select>
            <select name="Sexe">
                <option value="none" selected disabled hidden>Choississez un sexe</option>
                <option value="homme">Homme</option>
                <option value="femme">Dames</option>
            </select>
            <select name="Catégorie">
                <option value="none" selected disabled hidden>Choississez une catégorie</option>
                <option value="m15">M15</option>
                <option value="m17">M17</option>
                <option value="m20">M20</option>
                <option value="senior">Seniors</option>
                <option value="veteran1">Vétérans1</option>
                <option value="veteran2">Vétérans2</option>
                <option value="veteran3">Vétérans3</option>
                <option value="veteran4">Vétérans4</option>
            </select>
            <select name="Ville">
                <option value="none" selected disabled hidden>Choississez une région</option>
                {% for ville in villes %}
                    <option value="{{ ville }}">{{ ville }}</option>
                {% endfor %}
            </select>
            <input type="text" hidden name="nbLicense" value="{{nbLicense}}">
            <input type="submit" value="Rechercher"></input>
        </form>
        {% for competition in competitions %}
            <div class="competition">
                <div class="concours">
                    <p>CONCOURS {{ competition[0][0].upper()}}</p>
                    <p>{{ competition[0][1].upper() }} </p>
                    <p>{{competition[0][3]}}, {{competition[0][4]}} </p>
                </div>
                <div class="bouton">
                    {% if competition in competitionsParticiper %}
                        <img class="vousavezparticipe1" src="{{url_for('static', filename='images/vousavezparticipe.png')}}" alt="Vous avez participé">
                    {% endif %}
                    <button>Consulter</button>
                </div>
            </div>
        {% endfor %}
</main>
{% endblock %}
