{% extends "base.html" %}

{% block linkcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/classement_national.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Average" rel="stylesheet">
{% endblock %}

{% block header %}
{% include "partials/_header3.html" %}
{% endblock %}

{% block main %}
<main> 
    <div>  
        <div class="titre">
            <h3>Classement National :</h3>
            <img class="epee" src="{{url_for('static', filename='images/epeeBleu.png')}}" alt="Epée bleu d'escrime">
        </div>
        <form class="selector" action="{{url_for('rechercheClassement')}}", method="GET">
            <select name="arme" required>
                <option value="none" selected disabled hidden>Choississez une arme</option>
                <option value="fleuret">Fleuret</option>
                <option value="epee">Épée</option>
                <option value="sabre">Sabre</option>
            </select>
            <select name="sexe" required>
                <option value="none" selected disabled hidden>Choississez un sexe</option>
                <option value="homme">Homme</option>
                <option value="femme">Dames</option>
            </select>
            <select name="catégorie" required>
                <option value="none" selected disabled hidden>Choississez une catégorie</option>
                <option value="m15">M15</option>
                <option value="m17">M17</option>
                <option value="m20">M20</option>
                <option value="senior">Seniors</option>
                <option value="veteran1">Vétérans1</option>
                <option value="veteran2">Vétérans2</option>
                <option value="veteran3">Vétérans3</option>
                <option value="veteran4">Vétérans4</option>
            </select>
            <input type="text" hidden name="nbLicense" value="{{nbLicense}}">
            <input type="submit" value="Rechercher"></input>
        </form>
        <div class="tableau">
            <table>
                <tr class="titre-tableau">
                    <td>RANG</td>
                    <td>NOM</td>
                    <td>PRÉNOM</td>
                    <td>COMITE REGIONAL</td>
                    <td>CLUB</td>
                    <td>POINTS</td>
                    </tr>
                <tr>
                    <td>1</td>
                    <td>BOISSAY</td>
                    <td>NATHAN</td>
                    <td>OCCITANIE</td>
                    <td>BLOISESCRIME</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BOISSAY</td>
                    <td>NATHAN</td>
                    <td>OCCITANIE</td>
                    <td>BLOISESCRIME</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BOISSAY</td>
                    <td>NATHAN</td>
                    <td>OCCITANIE</td>
                    <td>BLOISESCRIME</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BOISSAY</td>
                    <td>NATHAN</td>
                    <td>OCCITANIE</td>
                    <td>BLOISESCRIME</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BOISSAY</td>
                    <td>NATHAN</td>
                    <td>OCCITANIE</td>
                    <td>BLOISESCRIME</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BOISSAY</td>
                    <td>NATHAN</td>
                    <td>OCCITANIE</td>
                    <td>BLOISESCRIME</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BOISSAY</td>
                    <td>NATHAN</td>
                    <td>OCCITANIE</td>
                    <td>BLOISESCRIME</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BOISSAY</td>
                    <td>NATHAN</td>
                    <td>OCCITANIE</td>
                    <td>BLOISESCRIME</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BOISSAY</td>
                    <td>NATHAN</td>
                    <td>OCCITANIE</td>
                    <td>BLOISESCRIME</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BOISSAY</td>
                    <td>NATHAN</td>
                    <td>OCCITANIE</td>
                    <td>BLOISESCRIME</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BOISSAY</td>
                    <td>NATHAN</td>
                    <td>OCCITANIE</td>
                    <td>BLOISESCRIME</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BOISSAY</td>
                    <td>NATHAN</td>
                    <td>OCCITANIE</td>
                    <td>BLOISESCRIME</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BOISSAY</td>
                    <td>NATHAN</td>
                    <td>OCCITANIE</td>
                    <td>BLOISESCRIME</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BOISSAY</td>
                    <td>NATHAN</td>
                    <td>OCCITANIE</td>
                    <td>BLOISESCRIME</td>
                    <td>5000</td>
                </tr>
            </table>  
        </div>
    </div>

</main>
{% endblock %}
