{% extends "base.html" %}
{% block linkcss %}
    <script src="{{ url_for('static',filename='js/popup.js')}}"> </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/connexion_escrimeur.css')}}">
{% endblock %}

{% block header %}
    {% include "partials/_header2.html" %}
{% endblock %}

{% block main %}
    <div class="blockConnexion">
        <div class="connexion">
            <div class="titreConnexion">
                <h2>CONNEXION</h2>
            </div>
            <form class="infoConnexion" action="{{url_for("verifConnexionEscrimeur")}}" method="GET">
                <div class="numLicence">
                    <h3>Numéro de licence:</h3>
                    <img class="epee" src="{{url_for('static', filename='images/epeeBleuTourner.png')}}" alt="Epée bleu d'escrime">
                </div>
                <input class="nbLicense" type="number" required="required" name="nbLicense" id="nbLicense" placeholder="112853">
                <input class="submitInscription" type="submit" value="SE CONNECTER" />
            </form>
        </div>
        <p>Pas encore inscrit a une compétition ?</p>
        <a href="./inscription">S'inscrire</a>
    </div>

{% if affichageConcours %}
    <div class="concours">
        <div class="titreConcours">
            <h2>CONCOURS INSCRIT</h2>
        </div>
        <form class="concoursInfo" action="{{url_for("validationConnexion")}}" method="GET">
            {% for x in concoursTireur %}
                <input type="radio" id="{{x[0][-1]}}" class="input" name="compet" required="required" value="{{x[0][-1]}}"> <label for="{{x[0][-1]}}">{{x[0][0].upper()}} {{x[0][1].upper()}} {{x[0][2].upper()}} {{x[0][3].upper()}}, {{x[0][4]}} {{x[0][5]}}, en tant que TIREUR</label></input>
                <span></span>
            {% endfor %}
            {% for x in concoursArbitre %}
                <input type="radio" id="{{x[0][-1]}}"  class="input" name="compet" required="required" value="{{x[0][-1]}}"> <label for="{{x[0][-1]}}">{{x[0][0].upper()}} {{x[0][1].upper()}} {{x[0][2].upper()}} {{x[0][3].upper()}}, {{x[0][4]}} {{x[0][5]}}, en tant qu'ARBITRE</label></input>
                <span></span>
            {% endfor %}
            <input type="text" hidden name="nbLicense" value="{{nbLicense}}">
            <input class="submitConcours" type="submit" value="VALIDER" />
        </form>
    </div>
{% else %}
    {% if popup %}
        <div class="wrap_popup">
            <div class="cover"> </div>
            
            <div class="affichage_popup">
                <div>
                    <h1>VOUS N’AVEZ AUCUNE INSCRIPTION A UNE COMPETITION</h1>
                    <p>Nous n’avons trouvé aucune inscription avec votre numéro de licence parmis toutes les compétitions ouvertes.</p>
                    <p>Si vous souhaitez vous inscrire, un lien est mis à votre disposition.</p>
                </div>
                
                <img class= "imgEscrimeur" src="../../static/images/imgConnexionError.png" alt="image illustration escrime">
                <button class="btn-close" type="button">
                    <img src="{{url_for('static', filename='images/imageCroix.png')}}" alt="image bouton fermer pop up" class ="croixFermer">
                </button>

            </div>
        </div>
    {% else %}
        <style> 
        .popup{
            visibility: hidden;
        }
        </style>
    {% endif %}
    {% if popup2 %}
        <div class="wrap_popup">
            <div class="cover"> </div>
            
            <div class="affichage_popup">
                <div>
                    <h1>NUMERO DE LICENCE INTROUVABLE</h1>
                    <p>Le numéro {{nbLicense}} ne correspond à aucune licence existante dans nos fichiers de la Fédération Française d’Escrime.</p>
                    <p>Vérifiez que vous n’avez pas fait d’erreur lors de la saisie ou contactez votre centre de formation pour vous renseigner votre numéro 
                    de licence.</p>
                </div>
                
                <img class= "imgEscrimeur" src="../../static/images/imgLicenseIntrouvable.png" alt="image illustration escrime">
                <button class="btn-close" type="button">
                    <img src="{{url_for('static', filename='images/imageCroix.png')}}" alt="image bouton fermer pop up" class ="croixFermer">
                </button>

            </div>
        </div>
    {% else %}
        <style> 
        .popup{
            visibility: hidden;
        }
        </style>
    {% endif %}
    <div class="concours">
        <div class="titreConcours">
            <h2>CONCOURS INSCRIT</h2>
        </div>
        <div class="concoursInfo">
            <p>Connectez-vous pour voir vos concours</p>
    </div>
{% endif %}




{% endblock %}