{% extends "base.html" %}

{% block linkcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/connexion_organisateur.css')}}">
<script src="{{ url_for('static',filename='js/popup.js')}}"> </script>
{% endblock %}

{% block header %}
{% include "partials/_header2.html" %}
{% endblock %}




{% block main %}
<div class="divPrincipale">
    <p>
        Afin d’accèder à la  création et gestion de concours veuillez entrer votre numéro de license. Pour pouvoir se connecter vous devez être renseigné auprès de la FFE comme un <u>membre organisateur</u>.
    </p>
    <div class="wrap_card">
        <h2>Connexion</h2>
        
        
        
        <form class="form" action="{{ url_for("traitement")}}" method="GET">
            <div class="premierInput">
                <h3>Numéro de license :</h3>
                <img class="epee" src="{{url_for('static', filename='images/epeeBleuTourner.png')}}" alt="Epée bleu d'escrime">
            </div>
            <div class="form_nb_license">
                <input class="inputForm" type="text" name="nblicense" id="nblicense" placeholder="128456" required />
            </div>
            <div class="deuxiemeInput">
                <h3>Nom du club :</h3>
                <img class="epee" src="{{url_for('static', filename='images/epeeBleuTourner.png')}}" alt="Epée bleu d'escrime">
            </div>
            <div class="form_nom_club">
                <input class="inputForm" type="text" name="nomClub" id="nomClub" placeholder="nomClub" minlength="2" maxlength="20" required />
            </div>
            <div>
                <input class="button" type="submit" value="Se connecter" />
            </div>
        </form>
    </div>
</div>


{% if popup %}
<div class="wrap_popup">
    <div class="cover"> </div>
    
    <div class="affichage_popup">
        <div>
            <h1>Vous n'avez pas les droits</h1>
            <p>Seuls les organisateurs et membres de la hiérarchie des clubs peuvent créer et gérer des compétitions.</p>
            <p> Si vous êtes organisateurs, veuillez vérifier la saisie de votre numéro de licence. </p>
            <p>  Si le problème persiste, contactez la FFE pour qu’il vous renseigne votre numéro.</p>
            

        </div>
        
        <img class = "imgEscrimeur" src="../../static/images/imgInfo1.png" alt="image illustration escrime">
        <button class="btn-close" type="button">
            <img src="{{url_for('static', filename='images/imageCroix.png')}}" alt="image bouton fermer pop up" class ="croixFermer">
        </button>

    </div>
</div>
{% else %}
<style> 
.popup{
    visibility: hidden;
}
</style>
{% endif %}

{% endblock %}
