{% extends "base.html" %}

{% block linkcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/options_competitions.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/select.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Average" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/infoCompetition.css') }}">

{% endblock %}

{% block header %}
{% include "partials/_header3.html" %}
{% endblock %}

{% block main %}

<section class="sectionnomCompet">  
    <h3 class="titreCompet">Compétition : </h3> 
    <p class="nomCompet">
    {{nomCompet[0]}} 
    {{nomCompet[1]}} {{nomCompet[2]}}
    {{nomCompet[3]}}
    </p>
</section>

<div class="wrapper_participant">
    <h2>{{participants|length}} Tireurs</h2>
    <ul class="listeParticipant">
        {% for participant in participants %}
            <li><b>{{participant[0]}}</b> {{participant[1]}}</li>
        {% endfor %}
    </ul>
</div>
<div class="wrapper_arbitre">
    <h2>{{arbitres|length}} Arbitres</h2>
    <ul class="listeArbitre">
        {% for arbitre in arbitres %}
            <li><b>{{arbitre[0]}}</b> {{arbitre[1]}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}