{% extends "base.html" %}

{% block linkcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/options_competitions.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/select.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Average" rel="stylesheet">
{% endblock %}

{% block header %}
{% include "partials/_header3.html" %}
{% endblock %}

{% block main %}
<main>
    <div class="principal">
        <div class="titre">
            <div>
                <h3>Compétitions :</h3>
            </div>
            <img class="epee" src="{{url_for('static', filename='images/epeeBleu.png')}}" alt="Epée bleu d'escrime">
        </div>
        <a href={{url_for('creation_competition', nbLicense=nbLicense)}} class="create"><img src="{{url_for('static', filename='images/Add_round_fill.png')}}" alt="Créer une compétition"></a>
        {% for competition in mesCompetitions %}
        <div class="competition">
            <div class="nom_competition">
                <p>{{competition[0][0].upper()}} {{competition[0][1].upper()}} {{competition[0][2].upper()}}, {{competition[0][3]}} {{competition[0][4]}} </p>
            </div>
            <div class="bouton">
                <form action="{{url_for('boutonLancer')}}", method="GET">
                    <input type="text" hidden name="nbCompet" value={{competition[0][5]}}>
                    <input type="text" hidden name="nbLicense" value={{nbLicense}}>
                    <input type="submit" value="Lancer">
                </form>
                <a href={{url_for('resultats', nbLicense=nbLicense, nbCompet=competition[0][5])}}>Consulter</a>
                <form action="{{url_for('boutonArchiver')}}", method="GET">
                    <input type="text" hidden name="nbCompet" value={{competition[0][5]}}>
                    <input type="text" hidden name="nbLicense" value={{nbLicense}}>
                    <input type="submit" value="Archiver">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
