{% extends "base.html" %}

{% block linkcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/resultats.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Average" rel="stylesheet">
{% endblock %}

{% block header %}
{% include "partials/_header3.html" %}
{% endblock %}

{% block main %}
<main>
    <div class="titre">
        <h3>Résultats :</h3>
        <img class="epee" src="{{url_for('static', filename='images/epeeBleu.png')}}" alt="Epée bleu d'escrime">
    </div>
    <div class="petit_titre">
        <h3>Tableau de votre poule :</h3>
        <img class="petite_epee" src="{{url_for('static', filename='images/epeeBleu.png')}}" alt="Epée bleu d'escrime">
    </div>
    <table border="0" width="100%" height="100%">
        <tr>
            <th>Nom</th>
            <th>Club</th>
            <th></th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th></th>
            <th>V</th>
            <th>TD</th>
            <th>TR</th>
            <th>TDTR</th>
            <th></th>
            <th>Place</th>
        </tr>
        <tr>
            <td>joueur 1</td>
            <td>Club 1</td>
            <td>1</td>
            <td></td>
            <td>res1</td>
            <td>res2</td>
            <td>res3</td>
            <td>res4</td>
            <td>res5</td>
            <td>res6</td>
            <td>res7</td>
            <td></td>
            <td>Victoire</td>
            <td>touche donnée</td>
            <td>touche reçue</td>
            <td>différence</td>
            <td></td>
            <td>nbPlace</td>
        </tr>
        
    </table>



    <div class="tableau">
        <style>
            /* Ajoutez du style pour ajuster la largeur et les marges de l'iframe */
            iframe {
                margin-top: 20px; /* Marge en haut de l'iframe */
                margin-bottom: 20px; /* Marge en bas de l'iframe */
                margin-left: 5em;
                margin-right: 1em;
                border: solid;
                border-color: #062656;
            }
        </style>
        <iframe src="https://docs.google.com/spreadsheets/d/1xx-AWUvrlTmytHTLYd0Z8YtdqiY-vYaRnVMFK9OtBrs/edit#gid=0" width="90%" height="800" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="petit_titre">
        <h3>Arbre de phase éliminatoire  :</h3>
        <img class="petite_epee" src="{{url_for('static', filename='images/epeeBleu.png')}}" alt="Epée bleu d'escrime">
    </div>
    <p>ARBRE DE LA PHASE PHASE ÉLIMINATOIRE (dictionnaire ????) </p>
    <div class="petit_titre">
        <h3>Classement  :</h3>
        <img class="petite_epee" src="{{url_for('static', filename='images/epeeBleu.png')}}" alt="Epée bleu d'escrime">
    </div>
    <p>Votre rang dans ce tournoi : </p>
</main>
{% endblock %}
