{% extends "base.html" %}

{% block linkcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/resultats.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Average" rel="stylesheet">
{% endblock %}

{% block header %}
{% include "partials/_header3.html" %}
{% endblock %}

{% block main %}
<main>
    <div class="tableau">
        <style>
            /* Ajoutez du style pour ajuster la largeur et les marges de l'iframe */
            iframe {
                margin-top: 20px; /* Marge en haut de l'iframe */
                margin-bottom: 20px; /* Marge en bas de l'iframe */
                margin-left: 5em;
                margin-right: 1em;
                border: solid;
                border-color: #062656;
            }
        </style>
        <iframe src="https://docs.google.com/spreadsheets/d/1xx-AWUvrlTmytHTLYd0Z8YtdqiY-vYaRnVMFK9OtBrs/edit#gid=0" width="90%" height="800" frameborder="0" scrolling="no"></iframe>
    </div>
</main>
{% endblock %}
