{% block linkcss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header3.css')}}">
{% endblock %}
{% if isOrganisateur or nbLicense==0 %}
    <img src="../../static/images/LogoEscrime.png" alt="Logo de l'escrime">
{% else %}
    <a href={{url_for('accueil', nbLicense=nbLicense, nbCompet=nbCompet)}}><img src="../../static/images/LogoEscrime.png" alt="Logo de l'escrime"></a>
{% endif %}
<nav>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
    <ul>
        <div class="lien">
            {% if isOrganisateur %}
                <li>
                    <a href={{url_for('creation_competition', nbLicense=nbLicense)}} class="create">
                    <img src="{{url_for('static', filename='images/Add_round_fill.png')}}" alt="Créer une compétition">
                    Créer une compétition</a>
                </li>
                <li>
                    <a href={{url_for('options_competitions', nbLicense=nbLicense)}}>
                    <img src="../../static/images/trophee.png" alt="Image de trophée pour indiquer résultat">
                    Mes compétitions</a>
                </li>
            {% else %}
                {% if nbLicense==0 %}
                    
                {% else %}       
                    <li>
                        <a href={{url_for('resultats', nbLicense=nbLicense, nbCompet=nbCompet)}}>
                        <img src="../../static/images/trophee.png" alt="Image de trophée pour indiquer résultat">
                        Résultats</a>
                    </li>
                {% endif %}
            {% endif %}
            
            {% if isOrganisateur %}
            <li>
                <a href={{url_for('classement_national', nbLicense=nbLicense, nbCompet=0)}}>
                <img src="../../static/images/podium.png" alt="Image de podium pour indiquer le classement national">
                Classement national</a>
            </li>
            {% else %}
                {% if nbLicense==0 %}
                    <li>
                        <a href={{url_for('classement_national', nbLicense=0, nbCompet=0)}}>
                        <img src="../../static/images/podium.png" alt="Image de podium pour indiquer le classement national">
                        Classement national</a>
                    </li>
                {% else %}
                    <li>
                        <a href={{url_for('classement_national', nbLicense=nbLicense, nbCompet=nbCompet)}}>
                        <img src="../../static/images/podium.png" alt="Image de podium pour indiquer le classement national">
                        Classement national</a>
                    </li>
                {% endif %}
            {% endif %}

            {% if isOrganisateur %}
            <li>
                <a href={{url_for('archives', nbLicense=nbLicense, nbCompet=0)}}>
                <img src="../../static/images/archives.png" alt="Image d'un carton pour indiquer les archives">
                Archives</a>
            </li>
            {% else %}
                {% if nbLicense==0 %}
                    <li>
                        <a href={{url_for('archives', nbLicense=0, nbCompet=0)}}>
                        <img src="../../static/images/archives.png" alt="Image d'un carton pour indiquer les archives">
                        Archives</a>
                    </li>
                {% else %}
                    <li>
                        <a href={{url_for('archives', nbLicense=nbLicense, nbCompet=nbCompet)}}>
                        <img src="../../static/images/archives.png" alt="Image d'un carton pour indiquer les archives">
                        Archives</a>
                    </li>
                {% endif %}
            {% endif %}
            
            {% if isOrganisateur %}
                
            {% else %}
                {% if nbLicense==0 %}
                    
                {% else %}
                    <li>
                        <a href={{url_for('profil', nbLicense=nbLicense, nbCompet=nbCompet)}}>
                        <img src="../../static/images/profil.png" alt="Image d'une tete d'escrimeur pour indiquer le profil">
                        Mon profil</a>
                    </li>
                {% endif %}
            {% endif %}
            {% if nbLicense==0 %}
                <a href="/"><img src="../../static/images/flecheRetour.png" alt="Fleche pour revenir en arriere"></a>
            {% endif %}
            <li>
                <a href={{url_for('index')}}>
                <img src="../../static/images/deconnexion.png" alt="Image d'une tete d'escrimeur pour indiquer le profil">
                Déconnexion</a>
            </li>
        </div>
        <div class="epee">
            <img class="epee" src="../../static/images/epeeBleu.png" alt="Epée bleu d'escrime">
        </div>
    </ul>
</nav>


