{% block linkcss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header3.css')}}">
{% endblock %}
<a href="/accueil"><img src="../../static/images/LogoEscrime.png" alt="Logo de l'escrime"></a>
<nav>
    <ul>
        <div class="lien">
            <li>
                <a href="#">
                <img src="../../static/images/trophee.png" alt="Image de trophée pour indiquer résultat">
                Résultats</a>
            </li>
            <li>
                <a href="/classement_national">
                <img src="../../static/images/podium.png" alt="Image de podium pour indiquer le classement national">
                Classement national</a>
            </li>
            <li>
                <a href="#">
                <img src="../../static/images/archives.png" alt="Image d'un carton pour indiquer les archives">
                Archives</a>
            </li>
            <li>
                <a href="/profil">
                <img src="../../static/images/profil.png" alt="Image d'une tete d'escrimeur pour indiquer le profil">
                Mon profil</a>
            </li>
        </div>
        <div class="epee">
            <img class="epee" src="../../static/images/epeeBleu.png" alt="Epée bleu d'escrime">
        </div>
    </ul>
</nav>


