/* titre */
.epee {
    position: relative;
    top: -2vmin;
    right: 2vmin;

}

.epee img {
    width: 100%;
    object-fit: fill;
    display: block;
}

.titre {
    margin-top: 4em;
    margin-left: 5em;
}

.titre h3 {
    padding-bottom: 0;
    margin-left: 10vh;
    font-size: 5vh;
    font-family: 'Average', sans-serif;
}

.texteimg {
    display: flex;
    flex-wrap: wrap;
}

.vousavezparticipe {
    width: 10%;
    object-fit: fill;
}   

.t {
    margin-left: 5em;
    font-size: 175%;
}

.texteimg { 
    margin-top: 0.25em;
}

/* selector */

.selector {
    margin-left : 8em;
    margin-top: 4em;
}

.selector select{
    margin-right: 4em;
}


/* compétition */

.competition {
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: lightgray;
    display: flex;
}

.concours{
    margin-right: 4em;
    padding-right: 10em;
}

.vousavezparticipe1 {
    margin-right: 3em;
    width: 20%;
    object-fit: fill;
}   

button {
    background-color: #062656;
    color: white;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

