/* titre */
.epee {
    position: relative;
    top: -2vmin;
    right: 2vmin;

}

.epee img {
    width: 100%;
    object-fit: fill;
    display: block;
}

.titre {
    margin-top: 4em;
    margin-left: 5em;
}

.titre h3 {
    padding-bottom: 0;
    margin-left: 10vh;
    font-size: 5vh;
    font-family: 'Average', sans-serif;
}

.texteimg {
    display: flex;
    flex-wrap: wrap;
}

.vousavezparticipe {
    width: 10%;
    object-fit: fill;
}   

.t {
    margin-left: 5em;
    font-size: 175%;
}

.texteimg { 
    margin-top: 0.25em;
}

/* selector */

.selector {
    margin-left : 8em;
    margin-top: 4em;
}

.selector select{
    margin-right: 4em;
}


/* compétition */

.competition {
    justify-content: space-between;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: lightgray;
    display: flex;
}

.concours{
    padding-top: 1em;
    padding-bottom: 1em;
}

.vousavezparticipe1 {
    display: block;
    width: 10%;
    object-fit: fill;
    margin: 2em;
}   

input, .bouton a {
    background-color: #062656;
    color: white;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}


/* bouton */

.bouton {
    right: 0px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 10em;
}

@media screen and (max-width: 1000px) {
    
    .titre h3{
        margin-left: 2em;
        font-size: 2vh;
    }

    .selector select {
        margin-right: 0;
    }

    .vousavezparticipe1 {
        display: block;
        width: 25%;
        height: 10%;
        object-fit: fill;
        margin: 2em;
    }   
}