section{
    border: solid 1px;
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
}

section h1{
    color: white;
    background-color: #062656;
    padding: 2vw;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.choix{
    display: flex;
    margin: 3vh;
    justify-content: center;
}

.type{
    
}