form{
    border: solid 1px;
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
}

form h1{
    color: white;
    background-color: #062656;
    padding: 2vw;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.choix{
    margin: 3vh;
    justify-content: center;
}

input[type="submit"] {
    background-color: #062656;
    color: white;
    padding: 0.5em;
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 1.5em;
}

.nomCompet{
    margin-top: 1.5em;
}

.coeff{
    margin-bottom: 1.5em;
}

@media screen and (max-width: 1000px) and (max-width: 1800px){
    form{
        margin-left: 10vw;
        margin-right: 10vw;
    }

    h1{
        font-size: 4em;
    }

    h2{
        font-size: 3em;
    }

    select{
        line-height: 5em;
        font-size: 3em;
    }
    #valider{
        font-size: 3em;
    }

    #coeff{
        margin-bottom: 1.5em;
    }

    #nom, #coeff, #choisirDate{
        font-size: 3em;
        text-align: center;
        border: solid #062656;
    }
}