main > div{
    /*background-color: red;*/
}

main > section{
    display: flex;
    justify-content: space-between;
    width: 95vw;
    /*background-color: gray;*/
    margin-left: 2.5vw; 
    margin-bottom: 5vmin;
}

section > img{
    width: 47%;
}

section > * {
    margin: 1vw;
}
section > div{
    width: 47%;
}
h2{
    font-size: 200%;
    font-family: sans-serif;
}
div > p {
    margin-top: 30px;
    font-size: 1.4em;
}